* {
    max-width: 100%;
    max-height: 100%;
    font-size: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 350%;
    text-align: center;
}



nav {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding-left: 20%;
    background-color:lightblue;
}

li a {
    text-decoration: none;
    font-size: 200%;
}

li a:hover {
    color: darkblue;
}

li {
    list-style: none;
}



h2 {
    grid-column: 1/4;
    font-size: 250%;
    text-align: center;
}

main {
    padding-top:10vh ;
}



img {
    max-width: 90%;
}

h3 {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 120%;

}

a:hover {
    color:rgb(0, 51, 255);
    cursor: pointer;

}

p {
    font-size: 100%;
}

/* .list { 
    grid-column: 1/4;    
}


.list ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    font-size: 180%;    
}

.list ol li a:hover {
    color: orangered;
    cursor: pointer;
} */


.group ol {
    display: flex;
    text-align: left;
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:2vh;
    border: black solid 1px;
}

/* .group ol li {
    font-size: 90%;
}

.group li a {
    color: black;
   
}

.group li a:hover {
    color: darkblue;
   
}


#a{
    grid-column: 1/4;
}


h4 {
    font-size: 300%;
}

#b {
    grid-column: 1/4;
}

#c {
    grid-column: 1/4;
}

#d {
    grid-column: 1/4;
}

#e {
    grid-column: 1/4;
}

#f {
    grid-column: 1/4;
}

#g {
    grid-column: 1/4;
}

#h {
    grid-column: 1/4;
}

#i {
    grid-column: 1/4;
}

#j {
    grid-column: 1/4;
}

#k {
    grid-column: 1/4;
} */

/*Product*/
.breadcrumbs {
    display: flex;
}

.brand {
    font-size: 60%;
}

section {
    color: rgb(2, 2, 98);
    text-align: center;
    grid-column: 3/4;
}

.productimage {
padding-left: 30%;
}



/* Productlist*/

article {
    border: grey 2px solid;
    text-align: center;
}

.two  {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap:1.5vh;
}

h5 {
    font-size: 100%;
}

.soldout {
    color: red;
}

.onSale {
    color: rgb(255, 175, 1);

}

.sub {
    color: rgb(175, 175, 175);
}

